
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>-------</h3>
<h3>Hakkimizda sayfası burda. Site içersindeki değişen kısım</h3>
<p>İçerik</p>
<p>Hakkimizda</p>
<p>...</p>
<h3>-------</h3>

