
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>-------</h3>
<h3>İndex sayfası burda. Site içersindeki değişen kısım</h3>
<p>İçerik</p>
<p>index</p>
<p>...</p>
<h3>-------</h3>

