@model Personel.Models.Departman    

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Dep_Ad</title>
</head>
<body>
    <div>
        <span>@DateTime.Now</span>
        <h2>Kod:@Model.id - Departman: @Model.Dep_Ad</h2>
    </div>
</body>
</html>
