@model ActionResultt.Models.data
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Jsondata</title>
</head>
<body>
    <div> 
        <h1>Json formatlı veri aşağıdaki gibidir.</h1>
        @Model.ActionResult_Ad
        @Model.Acıklama
        @Model.Metod_Ad
    </div>
</body>
</html>
